@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gamja+Flower|Gugi');

:root {
  --myrtle-green: #206a75;
  --medium-turqoise: #4ecdc4;
  --mint-cream: #f7fff7;
  --pastel-red: #ff6b6b;
  --maize: #ffe66d;
  --wine-dregs: #5E343F;
  --tuscan-red: #774150;

}
body {
  margin: 0;
  padding: 0;
  background: var(--mint-cream);
  border: 1em solid var(--myrtle-green);
}

h1 {
  color: var(--medium-turqoise);
  font-family: 'Gamja Flower', cursive;
  font-size:4em;
}

h2 {
  color: var(--maize);
  font-family: 'Do Hyeon', sans-serif;
}

span {
  color: var(--pastel-red);
}

p {
  color: var(--myrtle-green);
  font-family: 'Gamja Flower', cursive;
  padding: 2em;
}

button {
  background: var(--wine-dregs);
  color: var(--maize);
  padding: 1em;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5em;
  transform: rotate(45deg);
  position: absolute;
  top: 5em;
  right: 3em;
}

button:focus {outline:0;}
button:active {background:var(--tuscan-red);}
